*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    font-family: system-ui;
}
 

#page1{
    width: 100%;
    height: 100vh;
    background: rgb(114, 181, 181);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

nav{
    position: absolute;
    top: 0.5rem;
    padding: 0.7rem 1rem;
    display: flex;
    justify-content: space-between;
    width: clamp(360px, 100vw, 700px);
    border-radius: 2rem;
    background: rgba(173, 216, 230, 0.811);
    backdrop-filter: blur(15px);
}

nav h3{
    font-weight: 400;
    font-size: 1rem;
}

nav div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
#page1 h1{
    font-size: 10vmin;
    font-weight: 500;
    color: white;
}

#page1 h2{
    font-size: clamp(1rem , 3vmin , 1.5rem);
    font-weight: 500;
    margin: 0.3rem 0;
    color: rgb(245, 217, 163);
}


button{
    padding: 0.7rem 2rem;
    border-radius: 1.5rem;
    background: rgb(249, 244, 187);
    border: none;
    font-size: 0.9rem;
    font-weight: 500;
    width: fit-content;
}


#page2{
    display: flex;
    flex-direction: column;
    height: 80vh;
} 

.text , .img{
    width: 100%;
    height: 100%;
    border: 1px solid rgb(0, 42, 255);
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.8rem;
    padding: 2.2rem;
    padding-right: 6vw;
}
.text h5{
    font-size: 1.2rem;
    font-weight: 500;
}
.text h2{
    font-size: 2rem;
    font-weight: 600;
    color: rgb(1, 59, 250);
}
.text p{
    font-size: 1.2rem;
    line-height: 1.5;
}




@media (min-width : 750px) {
    #page2{
        flex-direction: row-reverse ;
    }
}