*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html body{
    height: 100%;
    width: 100%;
    background: #111;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#box1{
    height: 200px;
    width: 200px;
    background: red;
}

#box2{
    background: pink;
     height: 200px;
     width: 200px;
}

/*   timeline.html */

.box{
    height: 300px;
    width: 250px;
    opacity: 0;
}

#b1{
    background: #fe9595;
}

#b2{
    background: #f9e5a4;
}

#b3{
    background: #92ded8;
}

#b4{
    background: #b6abff;
}

.Cont{
    display: flex;
    justify-content: space-between;
    height: 50%;
    width: 100%;
}

#Cont2{
   align-items: end ;
}

.page1{
    height: 100vh;
    width: 100vw;
    overflow: hidden;

}
 #text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate( -50% , -50%);
}

#text span {
    opacity:  1 ;
    font-size: 10vh ;
    font-weight: 500;
    display:  inline-block;
}